html {
  background-color: #F2B988;
  background-size: cover; }

.wrapper {
  text-align: center;
  margin-top: -20px;
  background-color: #F2B988; }
  .wrapper .header {
    background-color: #2F3E39;
    padding: 20px; }
    .wrapper .header h1 {
      margin-top: 30px;
      color: #EDE7EB; }
  .wrapper .navigation {
    background-color: #9586A9;
    padding: 10px; }
    .wrapper .navigation nav a {
      font-size: 24px;
      padding: 10px;
      text-decoration: none;
      color: black; }
    .wrapper .navigation nav a:hover {
      color: black; }
  .wrapper .carousel {
    margin-top: 20px; }
    .wrapper .carousel .carousel-inner .item img {
      margin-right: auto;
      margin-left: auto; }
  .wrapper .farmDescription {
    padding-top: 20px; }
  .wrapper .pageTitle {
    text-align: left;
    margin-left: 20px; }
  .wrapper .pageDesc {
    text-align: left;
    margin-left: 20px;
    font-size: 16px; }
  .wrapper .horsePictures a {
    text-decoration: none; }
  .wrapper .horsePictures .eachHorse {
    min-height: 400px; }
