$mainBackground: #DED3B2;

html {
  background-color: $mainBackground;
  background-size: cover;
}

.wrapper {
  text-align: center;
  margin-top: -20px;
  background-color: $mainBackground;
  .header {
    background-color: #2F3E39;
    padding: 20px;
    h1 {
      margin-top: 30px;
      color: #EDE7EB;
    }
  }
  .navigation {
    background-color: #9586A9;
    padding: 10px;
    .myMenuNew {
      margin:0;
      padding:0;
      li {
        list-style:none;
        display: inline-block;
        font-size:24px;
        a:link, a:visited {
          display:block;
          text-decoration:none;
          padding: 5px 10px;
          margin:0;
          color:#111;
        }
        /*style the sub menu*/
        ul {
          position:absolute;
          visibility:hidden;
          border-top:1px solid #fff;
          margin:0;
          padding:0;
          z-index: 10;
          li {
            display:inline;
            float:none;
            a:link, a:visited {
              background-color: #9586A9;
              width:auto;
            }
          }
        }
      }
    }
  }

  .carousel {
    margin-top: 20px;
    .carousel-inner {
      .item img {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .farmDescription {
    padding-top: 20px;
  }
  .pageTitle {
    text-align: left;
    margin-left: 20px;
  }
  .pageDesc {
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
  }
  .horsePictures {
    a {
      text-decoration: none;
    }
    .eachHorse {
      min-height: 400px;
    }
  }
  .contactInfo {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .evaluation {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    h3 {
      margin-left: 20px;
    }
    table {
      border: 1px solid black;
      width: 95%;
      td {
        padding-left: 5px;
      }
      .evaluationHeader {
        border-bottom: 1px solid black;
        th {
          padding-left: 5px;
        }
      }
      .score {
        border-right: 1px solid black;
      }
    }
  }
  .mainImage {
    text-align:center;
    margin-bottom: 20px;
    .performance {
      text-align: left;
      h5 {
        margin-left: 5px;
      }
    }
  }
  .pedigree {
    margin-bottom: 20px;
    h3 {
      text-align: left;
      margin-left: 20px;
    }
    table {
      border: 1px solid black;
      width: 95%;
      .gen1 {
        border: 1px solid black;
      }
      .gen2 {
        border: 1px solid black;
      }
      .gen3 {
        border: 1px solid black;
      }
      .gen4 {
        border: 1px solid black;
      }
    }
  }
}
