html {
  background-color: #9F8E88;
  background-size: cover; }

.wrapper {
  text-align: center;
  margin-top: -20px;
  background-color: #9F8E88; }
  .wrapper .header {
    background-color: #3B3F3F;
    padding: 20px; }
    .wrapper .header h1 {
      margin-top: 30px;
      color: #999999; }
    .wrapper .header .myMenuNew {
      margin-top: 30px;
      padding: 0; }
      .wrapper .header .myMenuNew li {
        list-style: none;
        display: inline-block;
        font-size: 24px;
        /*style the sub menu*/ }
        .wrapper .header .myMenuNew li a:link, .wrapper .header .myMenuNew li a:visited {
          display: block;
          text-decoration: none;
          padding: 5px 10px;
          margin: 0;
          color: #999999; }
        .wrapper .header .myMenuNew li ul {
          position: absolute;
          visibility: hidden;
          border-top: 1px solid #fff;
          margin: 0;
          padding: 0;
          z-index: 10; }
          .wrapper .header .myMenuNew li ul li {
            display: inline;
            float: none; }
            .wrapper .header .myMenuNew li ul li a:link, .wrapper .header .myMenuNew li ul li a:visited {
              background-color: #3B3F3F;
              width: auto; }
  .wrapper .carousel {
    margin-top: 20px; }
    .wrapper .carousel .carousel-inner .item img {
      margin-right: auto;
      margin-left: auto; }
    .wrapper .carousel .carousel-indicators li {
      border: 1px solid #403328; }
    .wrapper .carousel .carousel-indicators .active {
      background-color: #403328; }
    .wrapper .carousel .carousel-caption {
      padding: 0px 0px 20px 0px;
      margin-left: auto;
      margin-right: auto;
      max-width: 450px;
      background-color: rgba(250, 250, 250, 0.5);
      color: #403328; }
  .wrapper .farmDescription {
    padding-top: 20px; }
  .wrapper .pageTitle {
    text-align: left;
    margin-left: 20px; }
  .wrapper .pageDesc {
    text-align: left;
    margin-left: 20px;
    font-size: 16px; }
  .wrapper .horsePictures a {
    text-decoration: none; }
  .wrapper .horsePictures .eachHorse {
    min-height: 400px; }
    .wrapper .horsePictures .eachHorse .horseLink {
      transition: all 0.5s ease;
      color: #403328; }
      .wrapper .horsePictures .eachHorse .horseLink h4, .wrapper .horsePictures .eachHorse .horseLink h6 {
        transition: all 0.5s ease; }
  .wrapper .contactInfo {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
    .wrapper .contactInfo .lisaOtten {
      max-height: 400px; }
  .wrapper .mainFooter {
    margin-top: 20px; }
    .wrapper .mainFooter p {
      margin: 0px; }
  .wrapper .evaluation {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px; }
    .wrapper .evaluation h3 {
      margin-left: 20px; }
    .wrapper .evaluation table {
      border: 1px solid black;
      width: 95%; }
      .wrapper .evaluation table td {
        padding-left: 5px; }
      .wrapper .evaluation table .evaluationHeader {
        border-bottom: 1px solid black; }
        .wrapper .evaluation table .evaluationHeader th {
          padding-left: 5px; }
      .wrapper .evaluation table .score {
        border-right: 1px solid black; }
  .wrapper .mainImage {
    text-align: center;
    margin-bottom: 20px; }
    .wrapper .mainImage .performance {
      text-align: left; }
      .wrapper .mainImage .performance h5 {
        margin-left: 5px; }
  .wrapper .pedigree {
    margin-bottom: 20px; }
    .wrapper .pedigree h3 {
      text-align: left;
      margin-left: 20px; }
    .wrapper .pedigree table {
      border: 1px solid black;
      width: 95%; }
      .wrapper .pedigree table .gen1 {
        border: 1px solid black; }
      .wrapper .pedigree table .gen2 {
        border: 1px solid black; }
      .wrapper .pedigree table .gen3 {
        border: 1px solid black; }
      .wrapper .pedigree table .gen4 {
        border: 1px solid black; }
  .wrapper .hoverEffect {
    transition: all 0.5s ease;
    opacity: 0.4;
    color: #9D9289; }
    .wrapper .hoverEffect h4, .wrapper .hoverEffect h6 {
      transition: all 0.5s ease;
      color: #9D9289; }
